/**
 * Primary styles
 *
 * Author: 
 */

/** Font styles 
---------------------------------*/

body {
  font-family: "Helvetica Neue", Helvetica, Verdana, Sans-Serif;
  letter-spacing:0.01em;
	background:#eae5cf url(../images/bg.jpg) center 60px no-repeat;
}

/* Titles  */

h1, h2, h3, h4, h5, h6 {line-height:1em; margin-bottom:5px;}

h1 {
	font-size: 2.2em;
	font-weight:800;
	padding: 0 0 0.5em;
	margin: 0;
}

h2 {font-size:1.8em;font-weight:600;}
h3 {font-size:1.4em;font-weight:400;}
h4 {font-size:1.2em;font-weight:400;}
h5 {font-size:1.1em;font-weight:400;}
h6 {font-size:1em;font-weight:bold;}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration:none;
	color:inherit;
}

.form-submit {
	margin:8px 0;
}

p {
	margin-bottom:5px;
}
/******* We're using Gogole font's for dynamic text replacement
		http://www.google.com/webfonts/family?family=Pacifico&subset=latin
*******/

.pacifico {
	font-family: 'Pacifico';
	letter-spacing:0.05em;
}


/*******************/
/* DRUPAL MESSAGES */
/******************/

div.mess {
  padding: 5px 10px;
	line-height:normal;
} 

div.messages a:link,
div.messages a:visited,
.help a:link,
.help a:visited,
.help .more-help-link a:link,
.help .more-help-link a:visited {
  color: #0066B3;
}

div.messages a:hover,
div.messages a:active,
.help a:hover,
.help a:active,
.help .more-help-link a:hover,
.help .more-help-link a:active {
  color: #000;
}

div.messages,
div.messages.status,
#order-confirmation-warning {
  background-color: #EAF8E4;
  border: 2px solid #8DC478;
  color: #3E642F;
  font-weight: normal;
  font-size: 16px;
  margin: 10px 0;
  overflow: visible;
  padding: 14px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
	line-height:normal;
}

div.messages.warning,
#order-confirmation-warning {
  background: #FFFFDD;
  border: 2px solid #EED300;
  color: #745500;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#order-confirmation-warning{
	width:auto;
	background:url("../images/icon-recall.png") no-repeat scroll left center #FFFFDD;
	padding-left:35px;
}

div.messages a {
}

div.messages ul {
  list-style-position: inside;
}

div.messages em {
  color: #555;
}

div.error {
  background-color: #FFF2F2;
  border-color: #CC0000;
  color: #B20000;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

/*******************/
/***** Tables *****/
/******************/

table {
  width: 100%; 
  margin: 20px 0;
} 

tbody th, tbody { border: none;} 

table {
	background:none repeat scroll 0 0 #FFFFFF;
	border-collapse:collapse;
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:11px;
	margin: 0px;
	text-align:left;
	width:100%;
}

.layout-first-main-last table {
  border-collapse: collapse;
  margin: 0 0 10px;
  width: 57%;
}

th, thead th {
 	border-bottom:2px solid #0C5A81;
	 color:#1192af;
	 font-size:13px;
	 font-weight:normal;
	 padding:10px 8px;
}

th a{
 	text-decoration: none !important;
 	color: #1192af !important;
}

tr {
	padding: 0;
}

td {
 	border-bottom:1px solid #CCCCCC;
	padding:6px 8px;
}

tbody tr:hover td {
	color:#1192af;
}

th.active img {
 	display: inline;
}

tr.even, tr.odd{
	background-color: transparent;
}

tr.even td {
	background-color: transparent;
}

tr.odd td {
	background-color: transparent;
}

td.active {
	background-color: transparent;
}

/*********************
 *BreadCrumbs *
 *********************/
.breadcrumb ul{
  margin:0;
  padding:0 0 5px;
	color:#607890;
}

.breadcrumb ul li {
  display:inline;
}


.breadcrumb a {
	text-decoration:none;
}
/*********************
 *BreadCrumbs *
 *********************/

#navigation {
	float:right;
}

/************** Cosmetic Changes ********************/

header {
	padding:5px 20px;
	color:#eee;
	border-bottom:1px solid #222;
	-moz-box-shadow: 0 3px 5px #999;
	-webkit-box-shadow: 0 3px 5px #999;
	box-shadow: 0 3px 5px #999;
	/* the box-shadow creates a horizontal scroling refer to default.css for the fix */
	position:relative;
	background:#333 url(../images/bg-dark.jpg) center;
}

header a, header a:hover, header a:visited, footer a:hover, footer a:visited, .ie7 #secondary a {
	color:#eee;
}
#main {
	/*background:#E5E5E1 url(../images/bg-main.jpg) top left;
	border:2px dashed #cacaca;
	border-width:0 2px;*/
	padding:10px 0;
	height:100%;
	min-height:450px;
}

footer {
	background-color:#333;
	padding:5px;
	color:#eee;
	min-height:100px;
	border-top:1px solid #111;
	background:#333 url(../images/bg-dark.jpg) center;
}

.footer-copy {
	padding:0.5em;
	margin:20px 10px 0;
	border-top:1px #eee dashed;
}

.company-info {
	width:31%;
	margin:1%;
}

.company-info h3 {
	margin:5px 0 10px;
	font-size:20pt;
}

footer .block {
	float:left;
	width:30%;
	margin:1%;
}

footer .block:hover {
	background-image:none;
}

footer .links a{
	text-decoration:none;
	color:inherit;
}

#site-name {
	margin-top:6px;
}

#navigation {
	margin-top:12px;
	font-size:1.1em;
}

#navigation  ul {
	padding:0;
	margin:0;
}
#navigation li {
	color:#DDE2E2;
	text-decoration:none;
	background-color:#8C2318;
	padding:2px;
	display:block;
	float:left;
	margin:0 5px;
}

#navigation li a{
	border:1px #ccc dashed;
	text-decoration:none;
	display:block;
	padding:2px 8px;
}

#navigation li a.active {
	color:inherit;
}
#navigation li.item-2  {background-color:#6d8391;}
#navigation li.item-3  {background-color:#6A4A3C;}
#navigation li.item-6  {background-color:#EB6841;}
#navigation li.item-5  {background-color:#00A0B0;}
#navigation li.item-4  {background-color:#757F40;}


/****** Blocks ********/
.block {
	padding:5px;
}

.block-title {
	border-bottom: 1px #999 dotted;
	padding-bottom:3px;
}
.block:hover {
	background:url(../images/diagonal_line_small.png) top left;
}

/************* Nodes ************/

.node .links {
	margin:10px 0;
	text-align:right;
}

.node .links .comment_add {
	background-color:#6D8391;
	color:white;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-vorder-radius:3px;
	padding:2px 10px;
	-moz-box-shadow: 1px 1px 2px #888;
	-webkit-box-shadow: 1px 1px 2px #888;
	box-shadow: 1px 1px 1px #888;
}

.node .links .comment_add a {
	color:#eee;
	text-decoration:none;
}
/************ Coments ************/

#comments {
	margin-left:7%;
}
h2.comments {
	margin:5px 0 15px;
	padding-bottom:3px;
	font-weight:normal;
	border-bottom:2px solid #555;
	color:#444;
}
.new {
	float:right;
	background-color:red;
	color:white;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-vorder-radius:3px;
	padding:2px 8px;
}

.comment ul.links {
	float:right;
}

.comment {
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px dotted #999;
}

.submitted {
	margin-bottom:10px;
	color:#666;
}